@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    font-family: 'Raleway', sans-serif;
    --blue-main: 218deg 28% 13%;
    --blue-footer: 216deg 53% 9%;
    --blue-testimonial: 219deg 30% 18%;
    --blue-intro: 217deg 28% 15%;
  }
}